apiVersion: 1
datasources:
  - name: FlightCtl
    type: yesoreyeram-infinity-datasource
    uid: flightctl-ds
    isDefault: true
    access: proxy
    url: "https://{{ _fc_api_host.stdout | trim }}"
    jsonData:
      auth_method: none
      tlsSkipVerify: true
      allowedHosts:
        - "https://{{ _fc_api_host.stdout | trim }}"
      httpHeaderName1: "Authorization"
    secureJsonData:
      httpHeaderValue1: "Bearer {{ ocp_token }}"
    editable: true
  - name: GroundStation
    type: yesoreyeram-infinity-datasource
    uid: groundstation-ds
    isDefault: false
    access: direct
    url: "https://{{ _gs_route_host.stdout | trim }}"
    jsonData:
      auth_method: none
    editable: true
